$white: #ffffff;
$black: #000;
$light-black: #181818;
$light-purple: #7700FF;
$font-purple: #9e86ff;
$background: #030328;
$jazzy-purple: #ff00e5; 

$grey: #101011;
$pure-black: #030303;
$red: #e50914;
$grey: #101011;

$dark-blue: #030328;
$link-color: #bac7ff;

$main-font: 'Gilroy', sans-serif;