@import "../../style/mixin";
@import "../../style/variables";

.Footer {
  height: 250px;
  padding: 20px 10px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $light-purple;

  &__content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    &--creator {
      margin: 20px 0;
    }

    &--links {
      margin: 20px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      a {
        margin: 10px 15px;
        color: $font-purple;
        font-weight: bold;
      }
    }
  }
}
