.episodes-data_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #454545;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}


.controls-btn_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    right: -70px;
}

.controls-btn_container > div {
    margin: 5px;
}

.controls-btn_container > div > button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    
}

.controls-btn_container > div > button > svg {
    width: 40px;
    height: 40px;
    color: #9e86ff;

}


.controls-btn_container > div > button:hover {
    transform: scale(.9);
    transition: .2s ease-in-out;
}


